header {
  width: 100%;
  margin-top: 0.5%;
  position: fixed;
}
header .header-container {
  background-color: #ffa900;
}
header .header-container .header {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: 1%;
}
header .header-container .header .header-item a {
  text-decoration: none;
  font-size: 30px;
  color: #52006a;
}
@media screen and (max-width: 600px) {
  header .header-container .header .header-item a {
    font-size: 13px;
  }
}
header .header-container .header .header-item a:hover {
  font-size: 31px;
}
@media screen and (max-width: 600px) {
  header .header-container .header .header-item a:hover {
    font-size: 14px;
  }
}
header .header-container .header .header-item a:visited {
  color: #734880;
}
@media screen and (max-width: 1070px) {
  header .header-container .header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.corpus3, .corpus2, .corpus1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpus3 .article3-container, .corpus2 .service1-container, .corpus2 .service2-container, .corpus1 .article1-container {
  background-color: #734880;
  border-radius: 25px;
  padding: 3%;
  width: 80%;
}

.corpus2 .service1-container .service1 .service1-item img {
  width: 700px;
  margin-top: 1%;
}

.corpus1 .article1-container {
  margin: 5% 2% 2% 2%;
}
.corpus1 .article1-container .article1 {
  display: grid;
  grid-template-columns: 700px auto;
  grid-template-rows: repeat(3, auto);
}
.corpus1 .article1-container .article1 .art1-item {
  display: grid;
  align-items: center;
}
.corpus1 .article1-container .article1 .art1-item h1 {
  font-size: 85px;
  color: #9f5f80;
  margin: 1% 1% 1% 3%;
}
.corpus1 .article1-container .article1 .art1-item p {
  font-size: 24px;
  color: #ffba93;
}
.corpus1 .article1-container .article1 .art1-item img {
  width: 700px;
  margin-top: 1%;
}
.corpus1 .article1-container .article1 .art1-i1 {
  grid-column: 1/2;
}
.corpus1 .article1-container .article1 .art1-i2 {
  grid-column: 2;
}
.corpus1 .article1-container .article1 .art1-i3 {
  grid-column: 1/3;
  margin-top: 1%;
}
.corpus1 .article2-container {
  background-color: #734880;
  border-radius: 25px;
  margin: 0% 2% 2% 2%;
  padding: 3%;
  width: 80%;
}
.corpus1 .article2-container .article2 .art2-item h2 {
  font-size: 85px;
  color: #9f5f80;
}
.corpus1 .article2-container .article2 .art2-item p {
  font-size: 24px;
  color: #ffba93;
}
@media screen and (max-width: 1493px) {
  .corpus1 .article1-container .article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .corpus1 .article1-container .article1 .art1-item {
    display: flex;
  }
  .corpus1 .article1-container .article1 .art1-item img {
    width: 100%;
  }
  .corpus1 .article1-container .article1 .art1-item h1 {
    font-size: 40px;
  }
  .corpus1 .article1-container .article1 .art1-item p {
    font-size: 20px;
  }
  .corpus1 .article2-container .article2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .corpus1 .article2-container .article2 .art2-item {
    display: flex;
  }
  .corpus1 .article2-container .article2 .art2-item h2 {
    font-size: 40px;
  }
  .corpus1 .article2-container .article2 .art2-item p {
    font-size: 20px;
  }
}

.corpus2 .service1-container {
  margin: 5% 2% 2% 2%;
}
.corpus2 .service1-container .service1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}
.corpus2 .service1-container .service1 .service1-item {
  align-items: center;
}
.corpus2 .service1-container .service1 .service1-item h1 {
  font-size: 55px;
  color: #9f5f80;
  margin: 1%;
}
.corpus2 .service1-container .service1 .service1-item p {
  font-size: 30px;
  color: #ffba93;
  margin: 1%;
}
.corpus2 .service1-container .service1 .serv1-i1 {
  grid-column: 1/2;
}
.corpus2 .service1-container .service1 .serv1-i2 {
  grid-column: 2/4;
  margin-top: 5%;
}
.corpus2 .service2-container {
  margin: 0% 2% 2% 2%;
}
.corpus2 .service2-container .service2 {
  display: grid;
  grid-template-columns: 700px auto;
  grid-template-rows: repeat(3 auto);
}
.corpus2 .service2-container .service2 .service2-item h2 {
  font-size: 55px;
  color: #9f5f80;
  margin: 1%;
}
.corpus2 .service2-container .service2 .service2-item p {
  font-size: 30px;
  color: #ffba93;
  margin: 1%;
}
.corpus2 .service2-container .service2 .service2-item img {
  margin-top: 1%;
  width: 100%;
}
.corpus2 .service2-container .service2 .serv2-i1 {
  margin: 7% 2% 1% 1%;
}
@media screen and (max-width: 1493px) {
  .corpus2 .service1-container .service1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .corpus2 .service1-container .service1 .service1-item {
    display: flex;
  }
  .corpus2 .service1-container .service1 .service1-item img {
    width: 100%;
  }
  .corpus2 .service1-container .service1 .service1-item h1 {
    font-size: 40px;
  }
  .corpus2 .service1-container .service1 .service1-item p {
    font-size: 20px;
  }
  .corpus2 .service1-container .serv1-i2 {
    display: flex;
    flex-direction: column;
  }
  .corpus2 .service2-container .service2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .corpus2 .service2-container .service2 .service2-item {
    display: flex;
  }
  .corpus2 .service2-container .service2 .service2-item h2 {
    font-size: 40px;
  }
  .corpus2 .service2-container .service2 .service2-item p {
    font-size: 20px;
  }
  .corpus2 .service2-container .service2 .service2-item img {
    width: 100%;
  }
}

.corpus3 .article3-container {
  margin: 5% 2% 2% 2%;
}
.corpus3 .article3-container .article3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.corpus3 .article3-container .article3 .art3-item {
  display: grid;
  align-items: center;
}
.corpus3 .article3-container .article3 .art3-item h1 {
  font-size: 80px;
  color: #9f5f80;
  margin: 1% 1% 1% 3%;
}
.corpus3 .article3-container .article3 .art3-item p {
  font-size: 24px;
  color: #ffba93;
}
.corpus3 .article3-container .article3 .art3-item img {
  width: 120%;
  margin-top: 1%;
}
.corpus3 .article3-container .article3 .art3-i1 {
  grid-column: 1;
}
.corpus3 .article3-container .article3 .art3-i2 {
  grid-column: 2;
  margin: 0% 0% 0% 12%;
}
.corpus3 .article3-container .article3 .art3-i3 {
  grid-column: 1/3;
}

footer {
  display: flex;
  justify-content: right;
  background-color: #734880;
  width: 100%;
}
footer p {
  color: #ffba93;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

body {
  background-color: #52006a;
}

/*# sourceMappingURL=style.css.map */
