@use "keys";

%corpus-rule {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%article-rule {
  background-color: keys.$base-colour-soft;
  border-radius: 25px;
  padding: 3%;
  width: 80%;
}
%img-rule {
  width: 700px;
  margin-top: 1%;
}
