@use "keys";
@use "mixins";

header {
  position: fixed;
  width: 100%;
  margin-top: 2%;
  .header-container {
    background-color: keys.$fourth-colour;
    .header {
      @include mixins.secondary-box(grid, 5fr 1fr 1fr 1fr 1fr);
      padding: 1%;
      .header-item {
        a {
          text-decoration: none;
          font-size: 30px;
          color: keys.$base-colour;
          @media screen and (max-width: 600px) {
            font-size: 13px;
          }
        }
        a:hover {
          font-size: 31px;
          @media screen and (max-width: 600px) {
            font-size: 14px;
          }
        }
        a:visited {
          color: keys.$base-colour-soft;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin: 0%;
    .header-container {
      .header {
        @include mixins.secondary-box(grid, 2fr 1fr 1fr 1fr 1fr);
      }
    }
  }
  @media screen and (max-width: 1070px) {
    margin: 0%;
    .header-container {
      .header {
        @include mixins.secondary-box(grid, 1fr 1fr 1fr 1fr 1fr);
      }
    }
  }
}
