@use "header";
@use "index";
@use "services";
@use "about";
@use "footer";
@use "keys";
@use "mixins";
@use "extends";

* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

body {
  background-color: keys.$base-colour;
}
